<div *ngIf="formacion" class="name">


  <h2>Información sobre {{formacion.nombre}}</h2>
  <div><span>id: </span>{{formacion.id}}</div>
  <div>
    <label for="hero-name">Nombre: </label>
    <input id="hero-name" [(ngModel)]="formacion.nombre" placeholder="name">
  </div>

  <div><span>Precio: </span>{{formacion.precio}}</div>
  <div><span>Dual: </span>{{formacion.dual}}</div>
  <div><span>Centro: </span>{{formacion.centro}}</div>


  <button type="button" (click)="goBack()">Ir atrás</button>

</div>
