
h1 {
  margin-bottom: 0;
}
nav a {
  padding: 1rem;
  text-decoration: none;
  margin: 10px 15px 0 0;
  display: inline-block;
  background-color: #8CC6E5;
  color: #fff;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
}

nav a:hover {
  color: white;
  background-color: #42545C;
}
nav a:active {
  background-color: black;
}
