<h2>Nuestros grados superiores</h2>
<ul class="heroes">
  <li *ngFor="let formacion of formaciones">
    <button [class.selected]="formacion === selectedFormacion" type="button" (click)="onSelect(formacion)">
      <span class="name">{{formacion.nombre}}</span>
    </button>
  </li>
</ul>

<div *ngIf="selectedFormacion">
  <h2>{{selectedFormacion.nombre | uppercase}} Details</h2>
  <div>id: {{selectedFormacion.id}}</div>
  <div>
    <label for="formacion-nombre">Formación: </label>
    <input id="formacion-nombre" [(ngModel)]="selectedFormacion.nombre" placeholder="name">
  </div>
  <div>Precio: {{selectedFormacion.precio}}</div>
  <div>Dual: {{selectedFormacion.dual}}</div>
  <div>Centro: {{selectedFormacion.centro}}</div>
</div>
